$utilities: () !default;

$utilities: map-merge(
    $utilities,
    (
        "font-size": (
            property: font-size,
            class: fs,
            values: (
                12: 12px,
                14: 14px,
                16: 16px,
                18: 18px,
                20: 20px,
                22: 22px,
                24: 24px,
                26: 26px,
                28: 28px,
                30: 30px
            )
        ),
        "padding-top": (
            responsive: true,
            property: padding-top,
            class: pt,
            values: (
                0: 0,
                1: 1rem * .25,
                2: 1rem * .5,
                3: 1rem,
                4: 1rem * 1.5,
                5: 1rem *3,
                6: 50px,
                7: 75px,
                8: 100px,
                9: 125px,
                10: 150px,
                11: 175px,
                12: 200px
            )
        ),
        "margin-bottom": (
            responsive: true,
            property: margin-bottom,
            class: mb,
            values: (
                0: 0,
                1: 1rem * .25,
                2: 1rem * .5,
                3: 1rem,
                4: 1rem * 1.5,
                5: 1rem *3,
                6: 50px,
                7: 75px,
                8: 100px,
                9: 125px,
                10: 150px,
                11: 175px,
                12: 200px
            )
        ),
        "margin-top": (
            responsive: true,
            property: margin-top,
            class: mt,
            values: (
                0: 0,
                1: 1rem * .25,
                2: 1rem * .5,
                3: 1rem,
                4: 1rem * 1.5,
                5: 1rem *3,
                6: 50px,
                7: 75px,
                8: 100px,
                9: 125px,
                10: 150px,
                11: 175px,
                12: 200px
            )
        ),
    )
)