//Variables

$theme-colors: (
  "primary": #1aa6b7,
  "secondary":  #002d40,
  "light":      #d9ecf2,
  "warning": #e04f5f,
);

$input-focus-border-color: #1aa6b7;


//Classes

.text-light {
    color: #d9ecf2;
    font-weight: lighter;
}

.text-primary {
    color: #1aa6b7;
}

.text-secondary {
    color:#002d40;
}



.border-light {
    border-color: #d9ecf2;
};